body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #FF0066; 
    border-radius: 50%;
    animation: spin 1.5s linear infinite, fadeOut 1s forwards 1.5s;
    background-color: transparent;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}


#content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    animation: showContent 1.5s forwards 2s;
}

@keyframes showContent {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
}


.main-header {
  background-color: #fff;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
}

main {
  height: 100%;
  .overlay {
      height: 0em;
      width: 93%;
      opacity: 0%;
      position: absolute;
      background-color: #f6f6f6;
      z-index: 10;
  }
}

h2 {
  padding: 0 5%;
  @media (min-width: 1000px){
    padding: 0 13%;
  }
  text-align: left;
}

.intro {
  text-align: center;
  margin-bottom: 30px;

  h1 {
      font-size: 1.5em;
      margin-bottom: 10px;
  }

  p {
      color: #666;
      margin-bottom: 20px;
  }

  .explore-btn {
      background: linear-gradient(357deg, #9356DC, #FF79DA);
      border-radius: 25px;
      border: none;
      font-weight: 500;
      box-shadow: 0 4px 10px 0 #d5d5d5;
      color: white;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background 0.3s ease, transform 0.3s ease;
      display: inline-block;
      width: 15rem;
      height: 50px;
  }
  .explore-button:hover {
      background: linear-gradient(90deg, #63b3ed, #b066fa, #b066fa);
      transform: translateY(-2px);
  }
}

.how-it-works {
  margin-bottom: 30px;
  background-color: #fff;

  .steps {
      display: flex;
      .step {
          text-align: center;

          .step-icon {
              font-size: 2em;
              margin-bottom: 10px;
          }
      }
  }
}

.restaurants {
  .restaurant-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 70px;
    top: 30px;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    background-color: #99E2D0;
    color: #278870;
    font-weight: 500;
    @media (max-width: 768px){
      top: 10px;
      right: 20px;
  }
}
  background-color: #F6F6F6;
  .restaurant {
      margin-bottom: 20px;

      .restaurant-info {
          background-color: #fff;
          //  styles spécifiques pour h3 et p
          h3 {
              font-size: 1.5em; 
              margin: 0.5em 0;
              margin: 0px;
          }

          p {
              font-size: 1em; 
              color: #666;
          }
      }
  }
}


footer {
@media (min-width: 1000px){
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right; 
  padding: 20px;
}
  background-color: #333;
  color: white;
  text-align: left;
  padding: 10px 25px;
  .footer-links {
    @media (min-width: 1000px){
      flex-direction: row;
      gap: 20px;
    }
      flex-direction:column ;
      display: flex;
      align-items: flex-start; 
      gap: 10px; 
    }

    .footer-link {
      display: flex;
      align-items: center; 
      gap: 10px; 
      color: #fff; 
      font-size: 14.5px; 
      @media (min-width: 1000px){

      }

      img {
        width: 11px; 
        height: 13px; 
      }
    }

    p {
      color: #fff; 
      margin: 0; 
    }
  .footer-links {
      p {
          margin: 5px 0;
          @media (min-width: 1000px){
            order: 1;
          }
      }
  }
  .location-container {
      display: flex;
      align-items: center;
      background-color: #f1f1f1; 
      padding: 10px; 
      border-radius: 5px; 
  }

  .location-icon {
      width: 12px; 
      height: 12px; 
      background: url(assets/images/logo/Pin.png) no-repeat center center; 
      background-size: cover;
      margin-right: 8px; 
  }

  .location-text {
      font-family: Arial, sans-serif; 
      font-size: 14px; 
      color: #333; 
  }
  .steps-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      gap: 10px; 
  }

  .step {
      font-family: Arial, sans-serif; 
      font-size: 14px; 
      color: #333; 
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  @media (min-width: 1000px){
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #F6F6F6;
    padding: 0 10%;
  }
  .restaurant {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px; 
      width: 100%; 
      border-radius: 10px 10px 0px 0px;
      position: relative;
      text-decoration: none;

      a {
        width: 95%;
        margin-bottom: -5px;
      }
      @media (min-width: 1000px){
        padding: 20px 60px;
        flex: 1 1 calc(40% - 0px);
        a {
          width: 100%;
          margin-bottom: -5px;
        }
      }

      input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
      }

      .restaurant-img {
          @media (min-width: 1000px){
            width: 100%;
            height: 231px;

          }
          width: 100%; 
          height: 200px; 
          object-fit: cover;
          border-radius: 10px 10px 0px 0px;

      }

      .restaurant-info {
          background-color: #fff;
          text-align: left; //
          width: 93%;
          display: flex;
          flex-direction: column;
          color: #333;
          border-radius: 0px 0px 10px 10px;
          padding: 0 1% 0 1%;
          margin: 0px;
          @media (min-width: 1000px){
            justify-content: center;
            width: 98%;
          }


          h3 {
              font-size: 1.5em; 
              margin: 0px;
          }

          p {
              font-size: 1em; 
              color: #666;
              margin: 1%;
          }
      }
  }
}
.location-container {

  .icon {
    margin-right: 10px;
  }
}
.logo-container img {
  width: 200px; 
  max-width: 100%; 

  @media (max-width: 768px) {
    width: 12rem; 
  }

  @media (max-width: 480px) {
    width: 12rem; 
  }
}
.main-header {
  background-color: #fff; 
  padding-bottom: 0; 
  text-align: center; 
  position: fixed;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
  @media (min-width: 1000px){
    box-shadow: 0px 0px 0px 0px;
  }
}

.logo-container {
  background-color: #fff; 
  padding: 5px 0; 
  margin-bottom: 0; 
}

.location-section {
  background-color: #eaeaea; 
  padding: 10px 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding-top: 50px;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 10px 20px; 
  @media (min-width: 1000px){
    padding: 2px 2px 10px 2px;
    margin-top: 20px;}

  .location-icon {
    margin-right: 10px; 
    padding-top: 10px;
  }

  .location-text {
    font-weight: bold;
    padding-top: 10px;
  }
}
/* Small devices (phones, less than 768px) */
/* Ajustements pour les différentes tailles d'écran */
@media (max-width: 768px) {
  .logo-container img {
    width: 12rem; 
  }
}

@media (max-width: 480px) {
  .logo-container img {
    width: 12rem; 
  }
}
.nav-background {
  background-color: #f6f6f6; 
  padding: 20px;
  @media (min-width: 1000px){
    box-shadow: 0px 0px 0px 0px;
  }
}
.how-it-works {
  text-align: center;
  padding: 20px 10px 50px 10px;
  background-color: #fff;

  .steps {
    @media (min-width: 1000px){
      padding: 20px 13%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .step {
        display: flex;
        align-items: center;
        background-color: #f7f7f7;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        width: 80%;
        position: relative;
        height: 40px;


        .step-icon {
          background-color: #8e44ad;
          color: white;
          border-radius: 50%;
          font-size: 14.18px;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          position: absolute; 
          left: -20px; 
          top: 50%;
          transform: translateY(-50%);
        }

        .step-info {
          display: flex;
          align-items: center;
          margin-left: 40px; 
        }

        .logo-fonc {
          height: 20px;
          margin-right: 10px;
          margin-left: 10px;
        }

        .step-info p {
          margin: 0;
          font-size: 16px;
          color: #333;
          font-weight: bold;
        }
      }
    }

  }
  .coeur-resto{
  width: 22px;
  height: 21px;
  margin: 10px;
  font-size: 18px;
  color: #8e44ad

  }
  .restaurant-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; 
    }
    .footer-logo{
      @media (min-width: 1000px){
        display: flex;
        order: 5;
      }
      width: auto;
      color: #eaeaea;
      height : 20px;
      filter: invert(1) brightness(1000%); 
    }

    .go-back{
      width: 30px;
      height: 10px;
      cursor:pointer;
    }
.go-back img {
padding-top: 13px;
margin-left: 10px;
}
.heart-container {
display: flex;
justify-content: flex-end;
align-items: center;
}

.heart-icon {
margin-left: 8px;
display: block;
}

.heart-icon-filled {
margin-left: 8px;
display: none;
}

.like-button {
cursor: pointer;
position: relative;

input[type="checkbox"] {
  display: none;
}

.heart-icon {
  display: block;
}

.heart-icon-filled {
  display: none;
}

input[type="checkbox"]:checked + .heart-icon {
  display: none;
}

input[type="checkbox"]:checked + .heart-icon + .heart-icon-filled {
  display: block;
}
}

.like-button {
  cursor: pointer;
  position: relative;

  input[type="checkbox"] {
      display: none;
  }

}
